/* define properties of the containing element. */
:local( .container ) {
}

:local( .menu ) {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
}

:local( .subMenu ) {
  list-style-type:none;
  position: absolute;
  min-width: 160px;
  padding: 5px;
  margin: 2px;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

/*Create a horizontal list with spacing*/
:local( .item ) {
  display:inline-block;
  float: left;
  margin-right: 1px;
}

/*Style for menu links*/
:local( .item a ) {
  display:block;
  min-width:140px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #337ab7;
  background: #fff;
  text-decoration: none;
}

/*Hover state for top level links*/
:local( .item:hover a ) {
  background: #eee;
  color: #23527c; 
}

/*Style for dropdown links*/
:local( .item:hover ul a ) {
  background: #fff;
  color: #020202;
  line-height: 4;
}

/*Hover state for dropdown links*/
:local( .item:hover ul a:hover ) {
  display: block;
  background: #eee;
}

/*Hide dropdown links until they are needed*/
:local( .item ul ) {
  list-style-type: none;
  display: none;
}

/*Make dropdown links vertical*/
:local( .item ul li ) {
  display: block;
  float: none;
}

/*Prevent text wrapping*/
:local( .item ul li a ) {
  width: auto;
  min-width: 100px;
  padding: 0px;
}

/*Display the dropdown on hover*/
:local( .item a:hover + .subMenu ) {
  display: block;
  margin: 0px;
}

:local( .subMenu:hover ) {
  display: block;
  margin: 0px;
}


/*Style 'show menu' label button and hide it by default*/
:local( .showMenuButton ) {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: #fff;
  background: #23527c;
  text-align: center;
  padding: 10px 0;
  display: none;
}

/*Hide checkbox*/
:local( .container input[type=checkbox] ) {
  display: none;
  -webkit-appearance: none;
}

/*Show menu when invisible checkbox is checked*/
:local( .container input[type=checkbox]:checked ~ .menu ) {
  display: block;
}


/*Responsive Styles*/
@media screen and (max-width : 760px){
  /*Make dropdown links appear inline*/
 :local( .menu ) {
   position: static;
   margin: 0;
   padding: 0;
   display: none;
 }
 :local( .subMenu ) {
   position: static;
   margin: 0;
   padding: 0;
   display: none;
 } 
  /*Create vertical spacing*/
 :local( .item ) {
   margin-bottom: 0px;
 }
 /*Make all menu links full width*/
 :local( .item ) {
   width: 100%;
 }
 :local( li a ) {

   width: 100%;
 }
  /*Display 'show menu' link*/
 :local( .showMenuButton ) {
   display:block;
 }
}
